extends ../base/base.jade

block vars
  - var title = 'shao.jp - Account Information'
  - var content = 'List of banking accounts for send money to me'
  - var bitcoin_address = '1LNPgo1vWfDnBib37YAAaBvfGXFzn4p4iF'
  - var wechat_url = 'https://weixin.qq.com/r/Yo0nP9rEVocprZ5c99hw'

block head

block content
  .sixteen.columns
    h1.remove-bottom(style='margin-top: 40px') shao.jp - Account information
    h5 List of banking accounts for wire transfer to me.
    hr
  .one-third.column
    h3 Banks
    p 名義は "サワダ シヨウ" です
    table
      tr
        th 三井住友銀行
      tr
        td 北野支店 普通 580574
      tr
        th 住信SBIネット銀行
      tr
        td ミカン支店 普通 1065563
      tr
        th ゆうちょ銀行
      tr
        td 記号10080 番号99920731
      tr
        th シティバンク銀行
      tr
        td インターネット支店 普通 7328391
      tr
        th みずほ銀行
      tr
        td 八王子支店 普通 2026112
      tr
        th 三菱東京UFJ銀行
      tr
        td 八王子中央支店 普通 4887725
      tr
        th じぶん銀行
      tr
        td 08054201555 / サワ

  .one-third.column
    h3 e-money
    p 電子通貨での送金をお試し下さい
    table
      tr
        th Amazonギフト券
      tr
        td
          span#jsb
          script.
            document.getElementById('jsb').innerHTML='funb@1555.vasb'.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
          |                       (
          a(href='https://www.amazon.co.jp/gp/product/B004N3APGO/?ie=UTF8&tag=1555info-22&linkCode=ur2&camp=247&creative=7399') 購入
          | )
      tr
        th Bitcoin
      tr
        td
          div
            code #{bitcoin_address}
          img(src="https://api.qrserver.com/v1/create-qr-code/?size=120x120&data=bitcoin:#{bitcoin_address}" width=120 height=120)
      tr
        th 微信支付 (WeChat Payment)
      tr
        td
          | sho_sawada
      tr
        th LINE Pay
      tr
        td
          | shao1555
      tr
        th ドコモ口座
      tr
        td
          | 0361559425037 / サワ


  .one-third.column
    h3 Gifts
    p 各種 Web サービスのギフト機能もご検討ください
    table
      tr
        th Amazon
      tr
        td
            a(href='https://www.amazon.co.jp/gp/registry/wishlist/1564GYE8KQ69L/?ie=UTF8&tag=1555info-22&linkCode=ur2&camp=247&creative=7399') ほしい物リスト
      tr
        th iTunes
      tr
        td
          span#ibf
          script.
            document.getElementById('ibf').innerHTML='funb@1555.vasb'.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
          |                       (
          a(href='http://support.apple.com/kb/HT2736?viewlocale=ja_JP') 送り方
          | )
      tr
        th Facebook
      tr
        td
          a(href='https://www.facebook.com/about/gifts') Facebook Gifts
  .sixteen.columns
    hr
    address © Sho Sawada
    br
