extends ./base/base.jade

block vars
  - var title = 'shao.jp - Sho Sawada'
  - var content = 'Biography of Sho Sawada, a.k.a. shao'

block head

block content
  .sixteen.columns
    h1.remove-bottom(style='margin-top: 40px') shao.jp
    h5 Hello, this is Sho SAWADA, a.k.a. 'shao'.
    hr
  .one-third.column
    h3 About me
    table
      tr
        th Name
        td Sho SAWADA / 澤田 翔
      tr
        th Location
        td Tokyo, Japan
      tr
        th Birthday
        td July 26, 1985
      tr
        th Facebook
        td
          a(href='https://www.facebook.com/sawada.sho') Sawada Sho
      tr
        th Twitter
        td
          a(href='https://twitter.com/shao1555') @shao1555
      tr
        th Blog
        td
          a(href='http://shao.hateblo.jp/') http://shao.hateblo.jp/
          |  (lang:ja)
      tr
        th GitHub
        td
          a(href='https://github.com/shao1555') shao1555
      tr
        th Amazon
        td
          a(href='https://www.amazon.co.jp/gp/registry/wishlist/1564GYE8KQ69L/?ie=UTF8&tag=1555info-22&linkCode=ur2&camp=247&creative=7399') Wishlist
          |  (JP)
      tr
        th Skills
        td
          | Linux based Infrastructure, TCP/IP, Routing, Software Firewall, Load Balancing / HA
          br
          | Ruby, JavaScript (node.js), PHP, C, Java, Objective-C
      tr
        th Hobby
        td Bicycle, Travel, Touring, Mobile Gadgets, Comics, Japanese Animation
  .one-third.column
    h3 Biography
    p educations / work experiences :
    ul.square
      li
        strong Supership Inc. (Nov 2015 - Current)
      li
        strong Bitcellar, Inc. (Oct 2011 - Oct 2015)
        | : Director
      li
        strong ATLANTIS Co, Ltd. (Jun 2008 - Oct 2011)
        | : Co-founder, Vice President, Infrastructure Section. Acquired by GREE Inc.
      li
        strong Cirius Technologies, Inc. (Jul 2005 - Jan 2007)
        | : Infrastructure Manager
      li
        strong Keio University (2004 - 2009)
        | : Faculty of Environment and Information Studies (Received B.A.)
      li
        strong Toho High School (2001 - 2004)
        | : Kunitachi-city, Tokyo, Japan
  .one-third.column
    h3 Contact
    p 急ぎであれば電話またはSMS、そうでない場合は Eメールか Facebook でお願い致します。
    ul.square
      li
        strong
          | email -&nbsp;
          span#obf
          script.
            document.getElementById('obf').innerHTML=' <n uers="znvygb:funb@1555.vasb">funb@1555.vasb</n>'.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
        | : 筆無精です。数日たっても返信がない場合やお急ぎの場合は他の手段をご利用ください。
      li
        strong
          | phone/SMS/iMessage -&nbsp;
          a(href='tel:08054201555') 080-5420-1555
        | : 電話に出ないときは SMS / iMessage または留守番電話センターをご利用ください。
      li
        strong
          | Facebook -&nbsp;
          a(href='http://www.facebook.com/sawada.sho/') SAWADA Sho
        | : Facebook Messenger は応答率が高いです。
      li
        strong LINE - shao1555
        | : 比較的はやいですが、ログインしている電話機を忘れた日など、1日中返せないことがあります。
      li
        strong Skype - shao1555
        | : 普段ログインしていませんので、用事がある場合は他の手段で事前に連絡をしてください。
    p
      | If you can not speak Japanese, please contact me via&nbsp;
      span#asx
      script.
        document.getElementById('asx').innerHTML='<n uers="znvygb:funb@1555.vasb">Rznvy</n>'.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
      |  or&nbsp;
      a(href='http://www.facebook.com/sawada.sho/') Facebook
      | .
  .sixteen.columns
    hr
    address © Sho SAWADA
    br
