extends ./base/base.jade

block vars
  - var title = 'shao.jp - Sho Sawada'
  - var content = 'Biography of Sho Sawada, a.k.a. shao'
  - var wechat_url = 'https%3A%2F%2Fu.wechat.com%2FIKUFeA5ykuWUJQUYhJmS2Vg'
  - var twitter_url = 'https%3A%2F%2Ftwitter.com%2Fshao1555'

block head

block content
  .sixteen.columns
    h1.remove-bottom(style='margin-top: 40px') shao.jp
    h5 Hello, this is Sho SAWADA, a.k.a. 'shao'.
    hr
  .one-third.column
    h3 About me
    table
      tr
        th Name
        td Sho SAWADA / 澤田 翔
      tr
        th Location
        td Tokyo, Japan
      tr
        th Twitter
        td
          div
            a(href='https://twitter.com/shao1555') @shao1555
          img(src="https://storage.googleapis.com/shao-storage-asia/qr/twitter-shao1555.png" width=120 height=120)
      tr
        th GitHub
        td
          a(href='https://github.com/shao1555') shao1555
      tr
        th Slideshare
        td
          a(href='https://www.slideshare.net/shao1555') shao1555
      tr
        th Blog
        td
          a(href='http://shao.hateblo.jp/') http://shao.hateblo.jp/
          |  (lang:ja)
      tr
        th BOOTH
        td
          a(href='https://shao1555.booth.pm/') shao's book store
          |  (マッハ新書)
      tr
        th Skills
        td
          | Blockchain: Bitcoin, Ethereum, dApp
          br
          | Ruby, JavaScript (node.js), Golang, Swift, PHP, C, Java, Swift, Objective-C
          br
          | Linux based Infrastructure, TCP/IP, Routing, Software Firewall, Load Balancing / HA
      tr
        th Hobby
        td Bicycle, Travel, Touring, Mobile Gadgets, Comics, Japanese Animation
      tr
        th Pay / Gift
        td
          a(href='/money/') see here
  .one-third.column
    h3 Biography
    p educations / work experiences :
    ul.square
      li
        strong SAWADA Plannging LLC. (Jan 2017 - Current)
        | : CEO, Engineer
      li
        strong Supership Inc. (Nov 2015 - Dec 2016)
        | : CTO Office
      li
        strong Bitcellar, Inc. (Oct 2011 - Oct 2015)
        | : Director
      li
        strong ATLANTIS Co, Ltd. (Jun 2008 - Oct 2011)
        | : Co-founder, Vice President, Infrastructure Section. Acquired by GREE Inc.
      li
        strong Cirius Technologies, Inc. (Jul 2005 - Jan 2007)
        | : Infrastructure Manager
      li
        strong Keio University (2004 - 2009)
        | : Faculty of Environment and Information Studies (Received B.A.)
      li
        strong Toho High School (2001 - 2004)
        | : Kunitachi-city, Tokyo, Japan
  .one-third.column
    h3 Contact
    p 急ぎであれば電話またはSMS、そうでない場合は Eメールか Facebook でお願い致します。
    table
      tr
        th email
        td
          span#obf
            script.
              document.getElementById('obf').innerHTML=' <n uers="znvygb:funb@1555.vasb">funb@1555.vasb</n>'.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
          p 筆無精です。数日たっても返信がない場合やお急ぎの場合は他の手段をご利用ください。
      tr
        th phone
        td
          div
            a(href='tel:08054201555') 080-5420-1555
          p 
            | iMessage / SMS もこちらへ。  
      tr
        th Messenger
        td
          div
            a(href='https://www.facebook.com/sawada.sho') sawada.sho
          img(src="https://storage.googleapis.com/shao-storage-asia/qr/messenger-code.jpeg" width=120 height=120)
          p 
            | Facebook Messenger は応答率が高いです。
      tr
        th WeChat
        td
          div
            | sho_sawada
          img(src="https://storage.googleapis.com/shao-storage-asia/qr/WeChat-sho_sawada.png" width=120 height=120)
          p 
            | こちらもは応答率が高いです。
      tr
        th Skype
        td
          div
            | shao1555
          p 
            | 普段ログインしていませんので、用事がある場合は他の手段で事前に連絡をしてください。
    p
      | If you can not speak Japanese, please contact me via&nbsp;
      span#asx
      script.
        document.getElementById('asx').innerHTML='<n uers="znvygb:funb@1555.vasb">Rznvy</n>'.replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});
      |  or&nbsp;
      a(href='http://www.facebook.com/sawada.sho/') Facebook
      | .
  .sixteen.columns
    hr
    address © Sho SAWADA
    br
